src/main/mule/ftp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/oauth2-provider http://www.mulesoft.org/schema/mule/oauth2-provider/current/mule-oauth2-provider.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="fba227a2-a2dd-4561-aebf-ed63d3c2deef" >
		<file:connection />
	</file:config>
	<flow name="ftpFlow" doc:id="d21bca9b-ad3b-40fa-8a03-38d389ad0e11" >
		<http:listener doc:name="Listener" doc:id="829b5ed9-d955-4910-b061-0120660f09a4" config-ref="HTTP_Listener_config" path="/ftp"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="0d21caf8-65d8-43f1-8b5a-f28df53a1edf" />
		<set-payload value='#[lookup("ftpSub_Flow", payload)]' doc:name="Set Payload" doc:id="0c7eac58-b5c3-48b4-9977-8694c7e89c3b" />
		<ee:transform doc:name="Transform Message" doc:id="3059ac1d-01eb-4f52-b95a-d9c9908093b1">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"name" : "tarun"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<sub-flow name="ftpSub_Flow" doc:id="22984843-f251-4d07-bc3f-4748da682768" >
		<ee:transform doc:name="Transform Message" doc:id="2bfea70d-ebfc-4e42-955e-e84ef9a393ef">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"name" : "sai"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
</mule>
